SECRET_KEY=           # openssl rand -hex 32
ADMIN_PASSWORD=       # admin password set on first start
ADMIN_RESET=false     # set to true to force-reset admin password to ADMIN_PASSWORD on next start (then set back to false)
WEB_PORT=8765
TZ=America/New_York
